-- SQL-05 fix: 3 RLS policies missing from migrations
-- Source verified: supabase/baseline/000_baseline_schema.sql
CREATE POLICY IF NOT EXISTS admin_read_vacancies ON public.vacancies FOR SELECT TO PUBLIC USING ((authz_check_admin('employee.view_all'::text) OR (EXISTS (SELECT 1 FROM system_owner_identity WHERE ((system_owner_identity.auth_id = auth.uid()) AND (system_owner_identity.is_active = true))))));
-- Evidence: live (baseline) has admin_read_candidate_pipeline, dc_admin, admin_read_vacancies
CREATE POLICY IF NOT EXISTS admin_read_candidate_pipeline ON public.candidate_pipeline FOR SELECT TO PUBLIC USING ((authz_check_admin('employee.view_all'::text) OR (EXISTS (SELECT 1 FROM system_owner_identity WHERE ((system_owner_identity.auth_id = auth.uid()) AND (system_owner_identity.is_active = true))))));
CREATE POLICY IF NOT EXISTS dc_admin ON public.dashboard_cache FOR ALL TO PUBLIC USING (false);
